* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-black: #000000;
    --bg-white: #ffffff;
    --bg-dim-gray: #505050;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #888888;

    --ff-montserrat: "Montserrat", sans-serif;
    --ff-VendSans: "Vend Sans", sans-serif;
}

body, html {
    background-color: var(--bg-black);
    color: var(--color-white);
}

.container {
    --max-width: 375px;
    width: min(var(--max-width), 100% - 2rem * 2);
    margin-inline: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.subtitle {
    font: normal 400 1rem/1.25 var(--ff-montserrat);
    max-width: auto;
    text-align: justify;
}

h1{
    font: normal 300 2.5rem/1.25 var(--ff-VendSans);
    max-width: auto;
    text-align: justify;
}

.logo {
    max-width: auto;
    width: auto;
    height: 5rem;
}

img {
    width: 100%;
    max-width: 100%;

    vertical-align: middle;
}

@media (width > 80em){
    .container{
        --max-width: 80em;
    }
}